@model IEnumerable<COAT.Models.Deal>
@using COAT.ViewModel.Shared
@{
    ViewBag.Title = "Deal Information";
    Layout = "~/Views/Shared/_DealManagementLayout.cshtml";
}
<h2>@ViewBag.Title</h2>
<br />
<h3>Search</h3>
<hr />
@Html.Partial("_SearchBarPartial", (DealSearchViewModel)ViewBag.SearchModel)
<br />
<h3>Summary</h3>
<hr />
@Html.Partial("_DealSummaryPartial", new DealSummaryViewModel(ViewBag.SummaryDeals))
<br />
<h3>List</h3>
<hr />
@Html.ActionLink("Export Result", "Export", (DealSearchViewModel)ViewBag.SearchModel, new { @class = "exportExcel"})
@Html.Partial("_DealListPartial", new COAT.ViewModel.Shared.DealListViewModel { Deals = Model, ActionName = "Details", LinkText = "View" })
<script type="text/javascript">

</script>